# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# Others
*.log
*.vspscc
*.vssscc
/TicTacToe.Tests/TestResults
/.containers/products-db
